.serviceSlogan{
    font-size:var(--fs-title);
    position:relative;
    top:3em;
    text-align: end;
    background-color: var(--secondary-bg);
    color:var(--white-txt);
    z-index:10;
    padding-top:1rem;
}

.serviceWelcome{
    height:15vh;
    width:100%;
    background-color:var(--primary-bg);
    color:var(--black-txt);
    font-size:var(--fs-sm);
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:1rem;
}

.serviceList{
    background-color:var(--secondary-bg);
    padding:0.4rem;
    margin:auto;
    border-bottom:1px solid black;

}

.listCollection{
    background-color:var(--primary-bg);
    position:relative;
    margin-top:55vh;;
    z-index:1;
    border-top:1px solid black;
}

.thumbnail{
    border:1px solid black; 
    width:15%;
}

.right{
    text-align:end;
}

.card{
    background-color:var(--white-txt);
    padding:.3rem;
    border-radius:.2rem;
}


.box aside{
    position:relative;
    margin-top:35%;
}