.servicePush{
    position:absolute;
    top:35%;
}



.serviceSlogan{
    font-size:var(--fs-title);
    position:relative;
    text-align: end;
    background-color: var(--secondary-bg);
    color:var(--white-txt);
    z-index:10;
    padding-top:1rem;
}

.serviceWelcome{
    height:15vh;
    width:100%;
    background-color:var(--primary-bg);
    color:var(--black-txt);
    font-size:var(--fs-sm);
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:1rem;
}

.arrow {
    margin: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 500ms linear;
    transition: color 500ms linear;
}

.arrow:hover {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 500ms linear;
    transition: color 500ms linear;
}

.pagination-display {
    display: flex;
    align-items: center;
}

.pagination-counter-white{
    margin-left: 15px;
    font-size: var(--fs-sm);
    color: var(--black-txt);
    font-weight: bold;
}

.pagination-counter-white-small{
    font-size: var(--fs-xsm);
    margin-left: 15px;
    color: var(--black-txt);
    font-weight: bold;
}

.serviceList{
    background-color:var(--secondary-bg);
    padding:0.4rem;
    margin:auto;
    border-bottom:1px solid black;

}

.listCollection{
    background-color:var(--primary-bg);
    position:relative;
    z-index:1;
    border-top:1px solid black;
}

.thumbnail{
    border:1px solid black; 
    width:15%;
}

.right{
    text-align:end;
}

.card{
    background-color:var(--white-txt);
    padding:.3rem;
    border-radius:.2rem;
}


.marginRelative{
    position:relative;
    margin-top:35%;
}