.serviceSlogan{
    font-size:var(--fs-title);
    position:relative;
    top:3em;
    text-align: end;
    padding-right:10%;
    background-color: var(--secondary-bg);
    color:var(--white-txt);
    z-index:-10;
}

.serviceList{
    background-color:var(--secondary-bg);
    padding:0.4rem;
    margin:auto;
    border:1px solid black;

}

.listCollection{
    background-color:var(--primary-bg);
    position:relative;
    margin-top:15em;
    z-index:1;
}

.thumbnail{
    border:1px solid black; 
    width:15%;
}

.right{
    text-align:end;
}

.card{
    background-color:var(--white-txt);
    padding:.3rem;
    border-radius:.2rem;
}


