*,*::before,*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:var(--ff-common)
}

/* HOME */

.gridContainer{
  display:grid;
  width:100vw;
  height:100vh;
}

.gridHome{
  position:absolute;
  top:0;
}




.girlOnPc{
  grid-area:img;
  width:100%;
  z-index:-10;
}


.separatorOne{
  grid-area:img;
  width:100%;
}

.fContent{
  display:flex;
  width:100%;
}

/* Test */
.body-Home{
  position:relative;
  top:30vh;
  display:flex;
  flex-wrap:wrap;
}
.body-Home>*:nth-child(1){
  flex: 1 1 60%;
}
.body-Home>*:nth-child(2){
  margin-right:0;
  flex: 1 1 40%;
  min-height: var(--ps-common);
}

@media only screen and (min-width: 550px){
  .body-Home>*:nth-child(1){
    flex: 1 1 50%;
  }
  .body-Home>*:nth-child(2){
    margin-right:0;
    flex: 1 1 50%;
    min-height: var(--ps-device);
  }
  .girlOnPc{
    position:relative;
    top:10% !important;
  }
}

.girlOnPc{
  position:relative;
  top:17%;
}
