*,*::before,*::after{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:var(--ff-common)
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--secondary-bg);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--black-txt);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--white-txt);  /* creates padding around scroll thumb */
}
/* HOME */
  .person{
    width:100%;
    z-index:-10;
  }
  .separatorOne{
    width:100%;
  }
  .fContent{
    display:flex;
    width:100%;
  }
  /* Part One */
    .home-One{
      position:relative;
      top:30vh;
      display:flex;
      flex-wrap:wrap;
      color: var(--black-txt);
    }
    .home-One>*:nth-child(1){
      flex: 1 1 60%;
    }
    .home-One>*:nth-child(2){
      margin-right:0;
      flex: 1 1 40%;
      min-height: var(--ps-common);
    }
    .girlOnPc{
      position:relative;
      top:17%;
    }
    .phrase{
      align-self: flex-end;
      text-align:end;
      padding:1rem;
      font-size:var(--fs-sm);
    }
    .slogan{
      color: var(--black-txt);
      margin-bottom:4%;
      z-index:-65;
    }
    @media only screen and (min-width: 550px){
      .home-One>*:nth-child(1){
        flex: 1 1 50%;
      }
      .home-One>*:nth-child(2){
        margin-right:0;
        flex: 1 1 50%;
        min-height: var(--ps-device);
      }
      .girlOnPc{
        position:relative;
        top:10% !important;
      }
      .slogan{
        
        margin-bottom:15%;
        z-index:10;
      }
    }
  /* -------------- */
  /* Part Two */
  .home-Second{
    color: var(--black-txt);
    position:relative;
    top:30vh;
    display:flex;
    flex-wrap:wrap;
  }
  .home-Second>*:nth-child(1){
    flex: 1 1 60%;
  }
  .home-Second>*:nth-child(2){
    margin-right:0;
    flex: 1 1 40%;
    min-height: var(--ps-common);
  }

  .secondTxt{
    margin-bottom:45%;
  }

  .businessPpl{
    z-index:-15;
    width:100%;
    position:relative;
  }
  .bg-two{
    transition:.2s;
    filter:brightness(var(--svg-filter));
    bottom:0;
    position:absolute;
    width:100%;
    z-index:-5;
  }


.whatsapp{
  position:absolute;
  left:37%;
  top:50%;
  width:50%;
}

.contact{
  position:absolute;
  left:50%;
  top:50%;
  width:50%;
  color:var(--black-txt);
}