@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root{
  --primary-bg:#DEE8FD;
  --secondary-bg:#455BAF;
  --text-bg:#C6E6F5;
  --white-txt:rgb(255, 255, 255);
  --black-txt:rgb(0, 0, 0);

  /* Fonts */
  /* Font Family */
  --ff-common:'Rokkitt', serif;
  /*Font Size */
  --fs-title:3rem;
  --fs-lg: 2.2rem;
  --fs-sm: .8rem;
  /* Person size */
  /* These illustrations are based on people, so it makes sense for me to respect a proportion between each other */
  --ps-common:60%;
  --ps-device:100%;
  /* Must fix, this is doing nothing lol */
}
@media (min-width: 40em) {
  :root {
    --fs-title:7rem;
    --fs-lg: 3rem;
    --fs-sm: 2rem;
  }
}


.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  top:20%;
  height: inherit;
}

.separator{
  height:25vh;
  pointer-events: none;
}

.error{
  position:absolute;
  top:25em;
  right:12.5vw;
  z-index:-15;
  width:75vw;

}

.chickens{
  position:absolute;
  right:0;
  margin-right:5rem;
  top:45%;
}